.titulo{
    font-size: 26px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--primary-color);
}

.subtitulo{
    font-size: 16px;
    font-weight: 300;
    padding: 2px 0px 14px 0px;
    margin: 0;
    color: var(--gray-color);
}


.full-width {
  width: 100%;
}

.btn-primary{
    width: auto;
    outline: none;
    border: 0;
    background: #7533a8;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 3px;
    box-shadow: 0 0 3px 1px #0a0a0a20;
    transition: linear 0.3s all;
    &:hover{
        cursor: pointer;
        box-shadow: 0 0 5px 3px;
    }
    &:disabled{ cursor: default; opacity:  0.7;}
}