<app-menu></app-menu>

<div class="container-fluid pt-3">

    <div class="row">
        <div class="col-12">
            <h1 class="titulo">Cadastro de usuários</h1>
            <h2 class="subtitulo">Gerencie usuários, adicionando, editando ou excluindo</h2>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-12">
            <app-button class="float-end" textButton="+ cadastrar" ></app-button>

             <table class="mat-elevation-z8" mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="title">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Produto </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.title}} </td>
                </ng-container>

                <ng-container matColumnDef="description">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.description}} </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> quantity </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.quantity}} </td>
                </ng-container>

                <ng-container matColumnDef="condition">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> condition </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.condition}} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.status}} </td>
                </ng-container>

                <ng-container matColumnDef="images">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> images </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.images}} </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header> createdAt </th>
                    <td class="td-table" mat-cell *matCellDef="let product"> {{product.createdAt}} </td>
                </ng-container>


                <ng-container matColumnDef="action">
                    <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header></th>
                    <td class="td-table" mat-cell *matCellDef="let product"> 
                        <!-- <mat-icon class="icone-tabela" (click)="openModalViewProduct(product)">visibility</mat-icon>     -->
                        <mat-icon class="icone-tabela" (click)="openModalViewProduct(product)">visibility</mat-icon>    
                        <mat-icon class="icone-tabela" >edit</mat-icon>    
                        <mat-icon class="icone-tabela" >delete</mat-icon>    
                    </td>
                </ng-container>

                <tr class="mat-row" *matNoDataRow>
                    <!-- <td class="mat-cell" colspan="4">Não foram encontrados dados para a pesquisa:  "{{input.value}}"</td> -->
                    <td class="mat-cell" colspan="4">Não foram encontrados dados para a pesquisa:  </td>
                </tr>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                
                <tr class="mat-row" *matNoDataRow>
                    <!-- <td class="mat-cell" colspan="4">Não foram encontrados dados para a pesquisa: "{{input.value}}"</td> -->
                    <td class="mat-cell" colspan="4">Não foram encontrados dados para a pesquisa:  </td>
                </tr>
            </table>


            <mat-paginator class="shadow-sm" [pageSizeOptions]="[5, 10]" aria-label="Selecione usuários por página"></mat-paginator>
        </div>
    </div>

</div>
