.titulo{
    font-size: 26px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    color: var(--primay-color);
}

.subtitulo{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 2px 0px 14px 0px;
    color: var(--gray-color);
}

.no-data{
    padding: 8px, 14px;
    font-weight: 400;
    font-size: 14px;
    color: var(--primay-color);
}

tr{
    height: 40px;
}

.th-table{
    font-size: 14px;
    font-weight: 500;
    color: #5a5a5a;
}

.td-table{
    font-size: 12px;
    font-weight: 400;
    color: #767676;
}

.icone-tabela{
    color: #767676;
    margin-right: 10px;
    transform: rotate(0deg);
    transition: 0.3s all linear;
    &:hover{
        cursor: pointer;
        color: var(--primay-color);
        transform: rotate(359deg);
    }
}

.img-thumb {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
  transition: transform 0.2s;
}

.img-thumb:hover {
  transform: scale(1.07);
}
